body{
    background-color: antiquewhite;
}

.start {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: darkblue;
}

img{
    width: 200px;
    border-radius: 50%;
    border-color: black;
}